<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="loginForm" ng-submit="doLogin($event)">
      <div ng-include="'login/login.progress.html'"></div>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-disabled="inprogress.active" ng-model="loginData.username" ng-change="loginPossible()" >
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-disabled="inprogress.active" ng-model="loginData.password" ng-change="loginPossible()" >
        </label>
        <ion-checkbox ng-model="loginData.rememberMe" ng-disabled="inprogress.active" ng-checked="loginData.rememberMe">
          Remember me
        </ion-checkbox>
        <div class="row">
          <div class="col">
            <label class="item">
              <button class="button button-block button-assertive" ng-disabled="inprogress.active" ng-click="closeLogin()" type="reset">Cancel</button>
            </label>
          </div>
          <div class="col">
            <label class="item">
              <button class="button button-block button-positive" ng-disabled="!loginEnabled" type="submit">Log in</button>
            </label>
          </div>
        </div>

        <!-- Quick hack for dev mode to enter user credentials-->
        <label class="item" ng-if="devUser1">
          <button class="button button-block button-energized" ng-disabled="inprogress.active" ng-click="devCredentials(devUser1)">Dev {{devUser1}}</button>
        </label>
        <label class="item" ng-if="devUser2">
          <button class="button button-block button-energized" ng-disabled="inprogress.active" ng-click="devCredentials(devUser2)">Dev {{devUser2}}</button>
        </label>
        <label class="item" ng-if="devUser3">
          <button class="button button-block button-energized" ng-disabled="inprogress.active" ng-click="devCredentials(devUser3)">Dev {{devUser3}}</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
