<ion-view view-title="About">
  <ion-content>
    <div class="list card">
      <div class="item item-text-wrap">
        <h3>Version: {{appversion}}</h3>
        <h3>&copy; 2016-2018 Ian Buttimer</h3>
      </div>
    </div>
    <div class="list card">
      <div class="item item-text-wrap">
        <h3>Overview</h3>
        <p>This application was developed for the Capstone Project of the <a href="" ng-click="showExternal($event,'https://www.coursera.org/specializations/full-stack')">Full Stack Web Development Specialization</a> set of courses provided by <a href="" ng-click="showExternal($event,'https://www.coursera.org')">coursera</a>.</p>
        <br>
        <h3>Functionality</h3>
        <p>The purpose of the CanvassTrac application suite is to provide an application that may be utilised during elections to allow a campaign to collect and track the results of canvasses.</p>
        <br>
        <div class="video-container" align="center">
          <iframe src="https://www.youtube.com/embed/h9E-NAwXZm8?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <br>
        <p>The application suite consists of three individual elements:</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-hand-o-right"></i>A server application</li>
          <li><i class="fa-li fa fa-hand-o-right"></i>A management web application<br>To facilitate the creation and configuration of canvasses and their associated surveys.</li>
          <li><i class="fa-li fa fa-hand-o-right"></i>A mobile client application<br>For the use of canvassers on the ground to collect voter data.</li>
        </ul>
        <br>
        <p>The list of currently supported features of the web application are as follows:</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-hand-o-right"></i>User login</li>
          <li><i class="fa-li fa fa-hand-o-right"></i>User management<br>Including user creation and control.</li>
          <li><i class="fa-li fa fa-hand-o-right"></i>Canvass configuration<br>Canvasses may be created and configured, allowing the assignment of addresses to individual canvassers.</li>
          <li><i class="fa-li fa fa-hand-o-right"></i>Survey configuration<br>Allowing the configuration of a set of specific questions to gather answers on.</li>
          <li><i class="fa-li fa fa-hand-o-right"></i>Canvass result analysis<br>Providing details of the results collected by the canvassers.</li>
          <li><i class="fa-li fa fa-hand-o-right"></i>Feedback submission</li>
          <li><i class="fa-li fa fa-hand-o-right"></i>Notice configuration<br>Allowing the configuration of notices for display on the client applications.</li>
          <li><i class="fa-li fa fa-hand-o-right"></i>Automatic logout on idle timeout.</li>
        </ul>
        <p>The list of currently supported features of the mobile application are as follows:</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-hand-o-right"></i>User login</li>
          <li><i class="fa-li fa fa-hand-o-right"></i>Download of assigned canvass route and survey information.</li>
          <li><i class="fa-li fa fa-hand-o-right"></i>Mapping service<br>To allow canvassers to quickly and efficiently cover their assigned canvass route.</li>
          <li><i class="fa-li fa fa-hand-o-right"></i>Survey response entry<br>In order to allow the campaign team to accurately monitor campaign progress.</li>
        </ul>
      </div>
    </div>
     <div class="list card">
      <div class="item item-divider">
        Server application
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <p>Tech stack</p>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-ellipsis-h"></i>Node.js</li>
              <li><i class="fa-li fa fa-ellipsis-h"></i>MongoDB</li>
              <li><i class="fa-li fa fa-ellipsis-h"></i>Express</li>
            </ul>
          </div>
          <div class="col">
            <p>Code</p>
            <a href="" ng-click="showExternal($event,'https://github.com/ibuttimer/canvasstrac-server')" class="item item-icon-left">
              <i class="icon ion-social-github"></i>
              GitHub
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Management application
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <p>Tech stack</p>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-ellipsis-h"></i>AngularJS</li>
            </ul>
          </div>
          <div class="col">
            <p>Code</p>
            <a href="" ng-click="showExternal($event,'https://github.com/ibuttimer/canvasstrac-mgmt')" class="item item-icon-left">
              <i class="icon ion-social-github"></i>
              GitHub
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Mobile application
      </div>
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <p>Tech stack</p>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-ellipsis-h"></i>Ionic</li>
            </ul>
          </div>
          <div class="col">
            <p>Code</p>
            <a href="" ng-click="showExternal($event,'https://github.com/ibuttimer/canvasstrac-mobile')" class="item item-icon-left">
              <i class="icon ion-social-github"></i>
              GitHub
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-text-wrap">
        <h3>Privacy Policy</h3>
        <p>The application Privacy Policy may be viewed <a href="" ng-click="showExternal($event,'https://github.com/ibuttimer/canvasstrac-mobile/wiki/CanvassTrac-Privacy-Policy')">on the application wiki</a>.</p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-text-wrap">
        <h3>Acknowledgements</h3>
        <p>The following third party resources have been used in this application:</p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="" ng-click="showExternal($event,'https://ionicframework.com/')">Ionic</a></li>
          <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="" ng-click="showExternal($event,'http://jtblin.github.io/angular-chart.js')">Angular Chart</a></li>
          <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="" ng-click="showExternal($event,'https://www.npmjs.com/package/js-polyfills')">js-polyfills</a></li>
          <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="" ng-click="showExternal($event,'http://fontawesome.io/icons/')">Font Awesome</a></li>
          <li><i class="fa-li fa fa-thumbs-o-up"></i>Man graphic by <a href="" ng-click="showExternal($event,'http://www.flaticon.com/authors/freepik')">freepik</a> from <a href="" ng-click="showExternal($event,'http://www.flaticon.com/')">Flaticon</a> is licensed under <a href="" ng-click="showExternal($event,'http://creativecommons.org/licenses/by/3.0/')" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="" ng-click="showExternal($event,'http://logomakr.com')" title="Logo Maker">Logo Maker</a></li>
        </ul>
      </div>
    </div>

  </ion-content>
</ion-view>

