<ion-view view-title="Canvasses">
  <ion-content>
    <ion-item ng-if="pager.totalItems > 0">
      Please select a canvass to proceed.
    </ion-item>
    <ion-item ng-if="pager.totalItems == 0">
      You currently have no canvass assignment.
    </ion-item>
    <ion-list>
      <ion-item ng-repeat="canvass in pager.pageItems" ng-class="{active: canvass.isSelected}" ng-click="setCanvass(canvass)">
        <div ng-include="'canvasses/canvass.element.html'"></div>
      </ion-item>
    <ion-list>
  </ion-content>
</ion-view>
